.app-landing {
  width: 100%;

  .app-header {
    position: sticky;
    width: 100vw;
    top: 0;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0A1929;
    z-index: 30;

    &-icon {
      margin-left: 20px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      text-align: center;
      letter-spacing: -1.5px;
      color: white;
      user-select: none;
      cursor: pointer;
    }

    &-buttons {
      margin-right: 30px;

      & > * {
        margin-left: 10px;
      }
    }
  }

  .section-1 {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    &-image {
      top: 0;
      left: 0;
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    &-header {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      text-align: center;
      letter-spacing: -1.5px;
      color: #FFFFFF;
      margin: 40px 0;
    }

    &-desc {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 42px;
      text-align: center;
      letter-spacing: -1.5px;
      color: #FFFFFF;
      max-width: 600px;
    }
  }

  .section-2 {
    padding: 15px;

    &-header {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      text-align: center;
      letter-spacing: -1.5px;
      color: black;
      margin: 20px;
    }

    &-items {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
      padding-top: 20px;
    }

    &-item-image {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }

    &-item-desc {
      margin-top: 20px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      letter-spacing: -1.5px;
      color: #000000;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 160px;
      margin: 0 15px;
    }
  }

  .section-3 {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    &-header {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      text-align: center;
      letter-spacing: -1.5px;
      color: white;
    }

    &-desc {
      margin: 20px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      letter-spacing: -1.5px;
      color: white;
      max-width: 700px;
    }
  }

  .section-4 {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &-image {
      top: 0;
      left: 0;
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    &-header {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      text-align: center;
      letter-spacing: -1.5px;
      color: white;
      margin: 20px;
    }

    &-items {
      display: flex;
      justify-content: space-around;
      padding-bottom: 30px;
      padding-top: 20px;
      flex-wrap: wrap;
      max-width: 900px;
    }

    &-item-image {
      width: 50px;
      height: 50px;
      object-fit: contain;
      margin-right: 10px;
    }

    &-item-desc {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-align: left;
      letter-spacing: -1.5px;
      color: white;
      flex: 1;
    }

    &-item {
      display: flex;
      justify-content: flex-start;
      width: calc(50% - 40px);
      margin: 0 5px 50px 0;
    }
  }

  .section-5 {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &-image {
      margin-top: 20px;
      top: 0;
      left: 0;
      object-fit: cover;
      max-width: 900px;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    &-header {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      text-align: center;
      letter-spacing: -1.5px;
      color: black;
      margin: 20px;
    }
  }

  .section-6 {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: black;

    &-desc {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      text-align: left;
      letter-spacing: -1.5px;
      max-width: 600px;
      color: white;
    }
  }

  .section-7 {
    background: #0A1929;
    padding: 40px;

    &-desc {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      text-align: left;
      letter-spacing: -1.5px;
      max-width: 600px;
      color: white;
    }

    &-item {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-align: left;
      letter-spacing: -1.5px;
      max-width: 600px;
      color: white;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
}